page-completed {
  .custom-icon {
    font-size: 21.2em;
  }

  .ok-btn {
    height: 14.2em;
    width: 14.2em;
    border-radius: 50%;
  }

  .center {
    margin: auto;
    padding: 110px 0;
  }

  #parent {
    text-align: center;
  }
}
